html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

span {
    color: #FFAD5A;
}

p {
    font-size: 18px;
    line-height: 30px;
    font-family: sans-serif;
    color: #3E3E3E;
}

h1 {
    font-size: 48px;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 0;
}

button {
    padding: 12px 30px;
    color: white;
    background: #FF5959;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
}

.header-conatiner {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.header-content {
    width: 100%;
    margin-top: 100px;
}

.header-content h1 {
    font-size: 60px;
    line-height: 80px;
    padding: 0px;
    font-family: fangsong;


}

.header-title {
    display: flex;
    flex-direction: row;
}

hr {
    width: 4px;
    height: 125px;
    background: red;
    margin-top: 55px;
    margin-right: 5px;
    margin-left: -0px;
    border: 0;
    border-radius: 25px;
}

.header-img {
    width: 100%;
    margin-left: 100px;
}

.header-img img {
    width: 426px;
}

.mission-area {
    width: 80%;
    margin: 50px auto;
}

.mission-area h1 {
    text-align: center;
}

.missions {
    display: flex;
    flex-direction: row;
}

.mission-box {
    width: 360px;

    margin: 24px;
    padding: 30px;
    background: rgb(247, 190, 190);
    border-radius: 26px;
}

.mission-box h3 {
    font-size: 24px;
}

.mission-box img {
    width: 50%;
}

.box-1 {
    background: #EDF5F6;
    margin-left: 0px;
}

.box-2 {
    background: #FFEEEE;
}

.box-3 {
    background: #FFF4D6;
}

.mission-box p {
    font-size: 16px;
    line-height: 22px;
}

.develop-area {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
}

.develop-img-shape {
    width: 200px;
    margin-bottom: -320px;
    margin-left: 50px;
}

.develop-img {
    width: 100%;
    margin-right: 70px;
}

.develop-img img {
    width: 100%;
}

.develop-content h2 {
    margin-top: 40px;
}



.community-area {
    width: 80%;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
}

.community-img-shape {
    width: 200px;
    margin-bottom: -550px;
    margin-left: 82%;
}

.community-img {
    width: 100%;
    margin-left: 70px;
}

.community-img img {
    width: 100%;
}

.community-content h2 {
    margin-top: 60px;
}


.team-area {
    width: 70%;
    margin: 100px auto;
    display: flex;
    flex-direction: row;

}

.team-area img {
    background: rgb(207, 205, 205);
    width: 250px;
    margin-right: 100px;
    border-radius: 50px;

}

footer {
    background: #0B0D17;
    padding: 10px 0px;
    text-align: center;
}

footer h2 {
    color: white;
}